.paginaPrincipal{
display: grid;
grid-template-areas: "cabecera cabecera  "
"navegacion contenido"
" piePagina piePagina ";
/* grid-template-columns: 200px calc( 100% - 200px); */
grid-template-columns: 1fr 3fr;
/*fr espacio que va a ocupar la columna*/
grid-template-rows: 150px calc(100vh - 300px ) 150px;
grid-gap:20px ;
}
.paginaPrincipal header{
    grid-area: cabecera;
}
.paginaPrincipal nav{
    grid-area: navegacion;
}
.paginaPrincipal article{
    grid-area: contenido;
}
.paginaPrincipal footer{
    grid-area: piePagina;
} 
.paginaPrincipal article p {
    font-family: 'Roboto', sans-serif;
}
.paginaPrincipal article p:hover{
    /* cambiarle el color de fondo que pasa sobre el cursor */
    color: brown;
    background-color: cadetblue;
    font-size: 18px;
    cursor: pointer;
    /* cambia la forma del cursor */
}
.paginaPrincipal nav ul li a{
    /* cambia el color de a  */
    color:#000000;
    font-size: 20px;
    font-weight: bolder;
    word-spacing: 20px;
    text-decoration: none;
    padding: 25px;
}
.paginaPrincipal nav ul li a:hover{
    color: #f0f8ff;
    background-color: #000000;
    border-bottom: 2px solid #575757;
    box-shadow: 10px 5px 16px -5px #6e1f1f;
}